# PRE-PROCESS WEBSCRAPED DATA

----------------------------
#### GIST OF CHANGES DONE IN THIS NOTEBOOK
----------------------------
-   This code handles basic data cleansing like handing or dropping nulls, replace special characters etc
-   The initial webscraped data contains multiples examples and descriptions in the code snippet. These were extracted and new rows were created for each of these examples.
-    All undesired rows in the code examples like code output etc were ignored.
-    The code snippets were limited to only single line codes and all other noise like comments or unwanted code were removed from the code snippets. This is because one objective of the target model is to predict only modular or component level code and not anything else.
-    Import statements if applicable were moved into another column. These are the only lines of code which will be eventually merged to the single line codes derived in the previous step. This merge will be done later prior to training.
-    The html separator '\<br\>' is used in the code currently as it aids in displaying the newlines within the code while displaying collab dataset results. This will be replaced later with '\n' prior to training.
----------------------------
<br>
<br>

In [ ]:
# IMPORT NECESSARY PACKAGES
import io
import pandas as pd
from google.colab import drive

In [ ]:
# DISPLAY FUNCTIONS
def fn_display_header(msg):
  print('-' * 80)
  print(' ' * 10, msg)
  print('-' * 80)

def fn_display_message(msg):
  print(msg)

In [ ]:
# READ WEB SCRAPED DATA INTO DATAFRAME AND DISPLAY DETAILS

df_raw = pd.read_csv('ETL_P1_get_raw_web_data_v1.csv').drop('Unnamed: 0', axis=1)

fn_display_header('Display Dataframe Metadata')
df_raw.info()

fn_display_header('Display initial Web Scraped Dataframe')
df_raw.head(10)#.style.set_properties(**{'text-align': 'left'})

--------------------------------------------------------------------------------
           Display Dataframe Metadata
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      740 non-null    object
 1   function      740 non-null    object
 2   feature_desc  730 non-null    object
 3   example_text  740 non-null    object
 4   link          740 non-null    object
dtypes: object(5)
memory usage: 29.0+ KB
--------------------------------------------------------------------------------
           Display initial Web Scraped Dataframe
--------------------------------------------------------------------------------

,Category,function,feature_desc,example_text,link
0,Configuration,pyspark.sql.conf.RuntimeConfig,User facing configuration API accessible thro...,"# User-facing configuration API, accessible t...",https://spark.apache.org/docs/latest/api/pytho...
1,Input/Output,pyspark.sql.DataFrameReader.csv,Loads a CSV file and returns the result as a ...,# Write a DataFrame into a CSV file and read ...,https://spark.apache.org/docs/latest/api/pytho...
2,Input/Output,pyspark.sql.DataFrameReader.format,Specifies the input data source format.,<br>>>> spark.read.format('json')<br><...readw...,https://spark.apache.org/docs/latest/api/pytho...
3,Input/Output,pyspark.sql.DataFrameReader.jdbc,Construct a DataFrame representing the databas...,# Construct a DataFrame representing the data...,https://spark.apache.org/docs/latest/api/pytho...
4,Input/Output,pyspark.sql.DataFrameReader.json,Loads JSON files and returns the results as a ...,# Write a DataFrame into a JSON file and read...,https://spark.apache.org/docs/latest/api/pytho...
5,Input/Output,pyspark.sql.DataFrameReader.load,Loads data from a data source and returns it a...,"# Load a CSV file with format, schema and opt...",https://spark.apache.org/docs/latest/api/pytho...
6,Input/Output,pyspark.sql.DataFrameReader.option,Adds an input option for the underlying data s...,"<br>>>> spark.read.option(""key"", ""value"")<br><...",https://spark.apache.org/docs/latest/api/pytho...
7,Input/Output,pyspark.sql.DataFrameReader.options,Adds input options for the underlying data sou...,"<br>>>> spark.read.option(""key"", ""value"")<br><...",https://spark.apache.org/docs/latest/api/pytho...
8,Input/Output,pyspark.sql.DataFrameReader.orc,Loads ORC files returning the result as a Dat...,# Write a DataFrame into a ORC file and read ...,https://spark.apache.org/docs/latest/api/pytho...
9,Input/Output,pyspark.sql.DataFrameReader.parquet,Loads Parquet files returning the result as a...,# Write a DataFrame into a Parquet file and r...,https://spark.apache.org/docs/latest/api/pytho...

In [ ]:
# DISPLAY AND ANALYZE ROWS WITH NULL EXAMPLE_TEXT

fn_display_header('Count of records with None or Null example_text')
fn_display_message('Null Count: ' + str(df_raw[df_raw['example_text'].isnull()].shape[0]))

display_row_count = 10
fn_display_header('Display rows with None or Null example_text')
df_raw[df_raw['example_text'].isnull()].head(display_row_count)#.style.set_properties(**{'text-align': 'left'})

--------------------------------------------------------------------------------
           Count of records with None or Null example_text
--------------------------------------------------------------------------------
Null Count: 0
--------------------------------------------------------------------------------
           Display rows with None or Null example_text
--------------------------------------------------------------------------------

Empty DataFrame
Columns: [Category, function, feature_desc, example_text, link]
Index: []

In [ ]:
# REMOVE ALL ROWS WITH NULL VALUES OF EXAMPLE_TEXT

fn_display_message(f' --> Initial Count : {df_raw.shape[0]}')
df_init = df_raw.dropna(subset=['example_text'])
fn_display_message(f' --> Count post dropping NULL exampe_text: {df_init.shape[0]}')
fn_display_header('Display Dataframe Metadata')
df_init.info()

fn_display_header('Display Dataframe post removing rows with NULL example_text')
df_init.head(10)#.style.set_properties(**{'text-align': 'left'})

 --> Initial Count : 740
 --> Count post dropping NULL exampe_text: 740
--------------------------------------------------------------------------------
           Display Dataframe Metadata
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      740 non-null    object
 1   function      740 non-null    object
 2   feature_desc  730 non-null    object
 3   example_text  740 non-null    object
 4   link          740 non-null    object
dtypes: object(5)
memory usage: 29.0+ KB
--------------------------------------------------------------------------------
           Display Dataframe post removing rows with NULL example_text
--------------------------------------------------------------------------------

,Category,function,feature_desc,example_text,link
0,Configuration,pyspark.sql.conf.RuntimeConfig,User facing configuration API accessible thro...,"# User-facing configuration API, accessible t...",https://spark.apache.org/docs/latest/api/pytho...
1,Input/Output,pyspark.sql.DataFrameReader.csv,Loads a CSV file and returns the result as a ...,# Write a DataFrame into a CSV file and read ...,https://spark.apache.org/docs/latest/api/pytho...
2,Input/Output,pyspark.sql.DataFrameReader.format,Specifies the input data source format.,<br>>>> spark.read.format('json')<br><...readw...,https://spark.apache.org/docs/latest/api/pytho...
3,Input/Output,pyspark.sql.DataFrameReader.jdbc,Construct a DataFrame representing the databas...,# Construct a DataFrame representing the data...,https://spark.apache.org/docs/latest/api/pytho...
4,Input/Output,pyspark.sql.DataFrameReader.json,Loads JSON files and returns the results as a ...,# Write a DataFrame into a JSON file and read...,https://spark.apache.org/docs/latest/api/pytho...
5,Input/Output,pyspark.sql.DataFrameReader.load,Loads data from a data source and returns it a...,"# Load a CSV file with format, schema and opt...",https://spark.apache.org/docs/latest/api/pytho...
6,Input/Output,pyspark.sql.DataFrameReader.option,Adds an input option for the underlying data s...,"<br>>>> spark.read.option(""key"", ""value"")<br><...",https://spark.apache.org/docs/latest/api/pytho...
7,Input/Output,pyspark.sql.DataFrameReader.options,Adds input options for the underlying data sou...,"<br>>>> spark.read.option(""key"", ""value"")<br><...",https://spark.apache.org/docs/latest/api/pytho...
8,Input/Output,pyspark.sql.DataFrameReader.orc,Loads ORC files returning the result as a Dat...,# Write a DataFrame into a ORC file and read ...,https://spark.apache.org/docs/latest/api/pytho...
9,Input/Output,pyspark.sql.DataFrameReader.parquet,Loads Parquet files returning the result as a...,# Write a DataFrame into a Parquet file and r...,https://spark.apache.org/docs/latest/api/pytho...

In [ ]:
# SPLIT EXAMPLE TEXT INTO CODE UNIQUE EXAMPLES

import re
import string

def remove_unwanted_text(code_text):
  filtered_code = ''
  for index, line in enumerate(code_text.split('<br>')):
    line = line.strip()
    if line.strip().startswith(('>>>', '...', '#')) \
      and not line.startswith(('+', '|')):
      filtered_code = filtered_code + line.replace('>>> ', '') + '<br>' #+ f'{index}:  .replace('...', '   ')
  return filtered_code

# and not 'show(' in line \

df_init_pass_1 = df_init.copy()
df_init_pass_1['seq'] = range(1, len(df_init_pass_1) + 1)
df_init_pass_1['example_text'] = df_init_pass_1['example_text'].apply(remove_unwanted_text)
df_init_pass_1['example_text'] = df_init_pass_1['example_text'].apply(lambda x: ''.join(filter(lambda char: char in string.printable, x)))
df_init_pass_1['example_text_bkp'] = df_init_pass_1['example_text']
df_init_pass_1['example_text'] = df_init_pass_1.apply(lambda x: '' if x['example_text'].strip().startswith('#') and len( list(filter(None, x['example_text'].split('<br>'))) ) <= 1 else x['example_text'], axis=1)
df_init_pass_1.head()#.style.set_properties(**{'text-align': 'left'})

,Category,function,feature_desc,example_text,link,seq,example_text_bkp
0,Configuration,pyspark.sql.conf.RuntimeConfig,User facing configuration API accessible thro...,,https://spark.apache.org/docs/latest/api/pytho...,1,"# User-facing configuration API, accessible th..."
1,Input/Output,pyspark.sql.DataFrameReader.csv,Loads a CSV file and returns the result as a ...,# Write a DataFrame into a CSV file and read i...,https://spark.apache.org/docs/latest/api/pytho...,2,# Write a DataFrame into a CSV file and read i...
2,Input/Output,pyspark.sql.DataFrameReader.format,Specifies the input data source format.,spark.read.format('json')<br># Write a DataFra...,https://spark.apache.org/docs/latest/api/pytho...,3,spark.read.format('json')<br># Write a DataFra...
3,Input/Output,pyspark.sql.DataFrameReader.jdbc,Construct a DataFrame representing the databas...,,https://spark.apache.org/docs/latest/api/pytho...,4,# Construct a DataFrame representing the datab...
4,Input/Output,pyspark.sql.DataFrameReader.json,Loads JSON files and returns the results as a ...,# Write a DataFrame into a JSON file and read ...,https://spark.apache.org/docs/latest/api/pytho...,5,# Write a DataFrame into a JSON file and read ...

In [ ]:
# REMOVE ALL ROWS WITH NULL VALUES OF EXAMPLE_TEXT

fn_display_message(f' --> Initial Count : {df_init_pass_1.shape[0]}')
df_init_pass_1 = df_init_pass_1.dropna(subset=['example_text'])
fn_display_message(f' --> Count post dropping NULL exampe_text: {df_init_pass_1.shape[0]}')

df_init_pass_1 = df_init_pass_1[df_init_pass_1['example_text'].replace(r'^\s*$', '') != '']
fn_display_message(f' --> Count post dropping BLANK exampe_text: {df_init_pass_1.shape[0]}')

 --> Initial Count : 740
 --> Count post dropping NULL exampe_text: 740
 --> Count post dropping BLANK exampe_text: 669

In [ ]:
# Verify rows where example_text was set to blanks explicitly. Note that example_text_bkp should not have any code lines for this validation
df_init_pass_1[['example_text', 'example_text_bkp', 'Category', 'function', 'feature_desc']][df_init_pass_1['example_text'] == ''].head().style.set_properties(**{'text-align': 'left'})

In [ ]:
# FILTER AND KEEP DESIRED FUNCTIONS
df_init_pass_2 = df_init_pass_1[['seq', 'feature_desc', 'example_text', 'Category', 'function']].copy()

filter_values = [
  'Input/Output',
  'DataFrame',
  'Normal Functions',
  'Math Functions',
  'Datetime Functions',
  'Collection Functions',
  'Partition Transformation Functions',
  'Aggregate Functions',
  'Window Functions',
  'Sort Functions',
  'String Functions',
  'Bitwise Functions',
  'Call Functions',
  'Misc Functions',
  'Predicate Functions',
  'Xml Functions',
  'Window',
  'Grouping'
    ]

df_init_pass_2 = df_init_pass_2[df_init_pass_2['Category'].isin(filter_values)]
df_init_pass_2.head(10)#.style.set_properties(**{'text-align': 'left'})

,seq,feature_desc,example_text,Category,function
1,2,Loads a CSV file and returns the result as a ...,# Write a DataFrame into a CSV file and read i...,Input/Output,pyspark.sql.DataFrameReader.csv
2,3,Specifies the input data source format.,spark.read.format('json')<br># Write a DataFra...,Input/Output,pyspark.sql.DataFrameReader.format
4,5,Loads JSON files and returns the results as a ...,# Write a DataFrame into a JSON file and read ...,Input/Output,pyspark.sql.DataFrameReader.json
5,6,Loads data from a data source and returns it a...,"# Load a CSV file with format, schema and opti...",Input/Output,pyspark.sql.DataFrameReader.load
6,7,Adds an input option for the underlying data s...,"spark.read.option(""key"", ""value"")<br># Specify...",Input/Output,pyspark.sql.DataFrameReader.option
7,8,Adds input options for the underlying data sou...,"spark.read.option(""key"", ""value"")<br># Specify...",Input/Output,pyspark.sql.DataFrameReader.options
8,9,Loads ORC files returning the result as a Dat...,# Write a DataFrame into a ORC file and read i...,Input/Output,pyspark.sql.DataFrameReader.orc
9,10,Loads Parquet files returning the result as a...,# Write a DataFrame into a Parquet file and re...,Input/Output,pyspark.sql.DataFrameReader.parquet
10,11,Specifies the input schema. Some data sources ...,"spark.read.schema(""col0 INT, col1 DOUBLE"")<br>...",Input/Output,pyspark.sql.DataFrameReader.schema
11,12,Returns the specified table as a DataFrame.,df = spark.range(10)<br>df.createOrReplaceTemp...,Input/Output,pyspark.sql.DataFrameReader.table

In [ ]:
fn_display_header('All Initial Passes Completed. Final Pass: df_final_pass')
df_final_pass = df_init_pass_2.copy()

--------------------------------------------------------------------------------
           All Initial Passes Completed. Final Pass: df_final_pass
--------------------------------------------------------------------------------

<br>
<br>
<br>

----
# <b> START CODE/COMMENT HANDLING: </b>
----
<br>

In [ ]:
# SPLIT CODE INTO COMMENTS AND TEXT

# Function to split the code text into an array separated by individual comments
def fn_split_comments(code_text, ignore_index0):
  result_list = []
  codes = []
  prev_line = ''
  code_text_mod = ''

  # Below code merges adjacent comment lines into a single line
  for index, line in enumerate(code_text.split('<br>')):
    if prev_line.replace('...', '').strip().startswith('#') and line.replace('...', '').strip().startswith('#'):
      line = line.replace('    #', '--REPLACE--')
    code_text_mod = code_text_mod + line + '<br>'
    prev_line = line
  code_text_mod = code_text_mod.replace('<br>... --REPLACE--', '')

  # Below code splits the text on '    #' and returns an array. First element in the array is ignored
  #if code_text_mod.strip().startswith('#'):
    #code_text_mod = code_text_mod.replace('#', ' ', 1)
  if '#' in code_text_mod:
    for index, line in enumerate(code_text_mod.split('#')):
      if ignore_index0 == 'Y':
        if index == 0:
          pass
        else:
          text = ('#' + line + '<br>')
          result_list.append(text)
      else:
        if index == 0:
          text = (line + '<br>')
          result_list.append(text)
        else:
          text = ('#' + line + '<br>')
          result_list.append(text)
  else:
    result_list = [code_text_mod]
  return (result_list)

# Function for INPUT/OUTPUT to massage the code_text in order to separate the comments and the corresponding code. It will be use to separate them into two different columns
def fn_input_output_cleanse(code_text, flag):
  code_text
  result = ''
  for index, line in enumerate(code_text.split('<br>')):
    line = line.replace('...', '').strip()
    line = line.replace('df.printSchema()', '')
    line = line.replace('df.show()', '')

    if len(line) != 0:
      if flag == 'COMMENT' and line.startswith('#'):
        result = line.replace('#', 'Pyspark code to ')
      if flag != 'COMMENT' and not line.startswith('#') \
        and not line.startswith('df = spark.createDataFrame([') \
        and 'df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])' not in line \
        and 'import tempfile' not in line \
        and 'import os' not in line \
        and 'TemporaryDirectory()' not in line:
        line = line.replace('.show()', '')
        result = result + line + '<br>'

  if flag != 'COMMENT':
    result = result.replace('spark.createDataFrame(<br>[{"age": 100, "name": "Hyukjin Kwon"}]<br>)', 'df')
    result = result.replace('(<br>', '(').replace('<br>)', ')')
    #if '.save(d)' in result or '.load(d)' in result or '.json(d)' in result:
    result = result.replace('.save(d)', '.save(my_dir)')
    result = result.replace('.load(d)', '.load(my_dir)')
    result = result.replace('.json(d)', '.json(my_dir)')
    result = result.replace('.orc(d)', '.orc(my_dir)')
    result = result.replace('.parquet(d)', '.parquet(my_dir)')
    result = result.replace('.text(d)', '.text(my_dir)')
    result = result.replace('(d,', '(my_dir,')
    result = re.sub(r'\.sort\([^)]*\)', '', result)
    if result.startswith('spark.read'):
      result = result.replace('spark.read', 'df = spark.read')

    result = re.sub(r'spark\.createDataFrame\(\[.*?\]\).write', 'df.write', result)  # this should be done last
    if 'df.write' not in result:
      result = re.sub(r'spark\.createDataFrame\(\[.*?\]\)', 'df = df', result)  # this should be done last
  return result

# Create initial copy of dataframe for only Category = 'Input/Output'
df_input_output = df_final_pass[df_final_pass['Category'].isin(['Input/Output'])].copy().set_index('seq')

# Split code text based on comments
df_input_output['example_text_1'] = df_input_output['example_text'].apply(lambda x: fn_split_comments(x, 'Y'))

# Normalize the code based on the elements in the array derived above for column
fn_display_message(f' --> Display Count Before Explode: {df_input_output.shape[0]}')
df_input_output = df_input_output.explode('example_text_1')
df_input_output['seq'] = range(1, len(df_input_output) + 1)
df_input_output = df_input_output.set_index('seq')
fn_display_message(f' --> Display Count After Explode: {df_input_output.shape[0]}')

# Derive code_snippet and code_description
df_input_output['code_description'] = df_input_output['example_text_1'].apply(lambda x: fn_input_output_cleanse(x, 'COMMENT'))
df_input_output['code_snippet'] = df_input_output['example_text_1'].apply(lambda x: fn_input_output_cleanse(x, 'CODE'))

# Drop all blank code_snippet
df_input_output = df_input_output[df_input_output['code_snippet'].replace('<br>', '') != '']
fn_display_message(f' --> Display Count After dropping blank code_snippet: {df_input_output.shape[0]}')

# Handle Blank code_description Normalize the code based on the elements in the array derived for code_description
df_input_output['code_description'] = df_input_output.apply(lambda x: [x['code_description'], 'Pyspark code which ' + x['feature_desc']], axis=1)

# Add import_line column with blanks
df_input_output['import_line'] = ''

# Normalize/explode data on code_description
df_input_output = df_input_output.explode('code_description')
df_input_output['seq'] = range(1, len(df_input_output) + 1)
df_input_output = df_input_output.set_index('seq')
fn_display_message(f' --> Display Count After Explode on comments: {df_input_output.shape[0]}')

df_input_output = df_input_output[df_input_output['code_description'].replace('<br>', '') != '']
fn_display_message(f' --> Display Count After dropping blank code_description: {df_input_output.shape[0]}')

# Drop code snippets with more than 3 lines
df_input_output = df_input_output[df_input_output['code_snippet'].str.split('<br>').str.len() <= 3]
fn_display_message(f' --> Display Count After dropping code snippets with more than 3 lines: {df_input_output.shape[0]}')

# Drop rows which are difficult to process
df_input_output = df_input_output[~df_input_output['example_text'].str.contains('DROP TABLE')]
fn_display_message(f' --> Display Count After dropping complicated code: {df_input_output.shape[0]}')

# Convert all code_snippet into single line
df_input_output['code_snippet'] = df_input_output['code_snippet'].apply(lambda x: x.replace('<br>', '').replace('\n', ''))

#df_input_output = df_input_output[['code_description', 'code_snippet', 'import_line', 'example_text_1', 'function']] #, 'example_text', 'feature_desc', 'Category', 'function']]
df_input_output.head()#.style.set_properties(**{'text-align': 'left'})

 --> Display Count Before Explode: 26
 --> Display Count After Explode: 74
 --> Display Count After dropping blank code_snippet: 55
 --> Display Count After Explode on comments: 110
 --> Display Count After dropping blank code_description: 109
 --> Display Count After dropping code snippets with more than 3 lines: 102
 --> Display Count After dropping complicated code: 90

,feature_desc,example_text,Category,function,example_text_1,code_description,code_snippet,import_line
seq,,,,,,,,
1,Loads a CSV file and returns the result as a ...,# Write a DataFrame into a CSV file and read i...,Input/Output,pyspark.sql.DataFrameReader.csv,# Write a DataFrame into a CSV file<br>... ...,Pyspark code to Write a DataFrame into a CSV ...,"df.write.mode(""overwrite"").format(""csv"").save(...",
2,Loads a CSV file and returns the result as a ...,# Write a DataFrame into a CSV file and read i...,Input/Output,pyspark.sql.DataFrameReader.csv,# Write a DataFrame into a CSV file<br>... ...,Pyspark code which Loads a CSV file and return...,"df.write.mode(""overwrite"").format(""csv"").save(...",
3,Loads a CSV file and returns the result as a ...,# Write a DataFrame into a CSV file and read i...,Input/Output,pyspark.sql.DataFrameReader.csv,# Read the CSV file as a DataFrame with 'nullV...,Pyspark code to Read the CSV file as a DataFr...,"df = spark.read.csv(my_dir, schema=df.schema, ...",
4,Loads a CSV file and returns the result as a ...,# Write a DataFrame into a CSV file and read i...,Input/Output,pyspark.sql.DataFrameReader.csv,# Read the CSV file as a DataFrame with 'nullV...,Pyspark code which Loads a CSV file and return...,"df = spark.read.csv(my_dir, schema=df.schema, ...",
5,Specifies the input data source format.,spark.read.format('json')<br># Write a DataFra...,Input/Output,pyspark.sql.DataFrameReader.format,# Write a DataFrame into a JSON file<br>... ...,Pyspark code to Write a DataFrame into a JSON...,"df.write.mode(""overwrite"").format(""json"").save...",

In [ ]:
# VERIFY/MASSAGE FUNCTION CATEGORIES - PASS 1:

df_functions_1 = df_final_pass[df_final_pass['Category'].isin([
  'DataFrame'
  'Normal Functions',
  'Math Functions',
  'Datetime Functions',
  'Collection Functions',
  'Partition Transformation Functions',
  'Aggregate Functions',
  'Window Functions',
  'Sort Functions',
  'String Functions',
  'Bitwise Functions',
  'Misc Functions',
  'Predicate Functions',
  'Xml Functions',
  'Grouping'
  # -- IGNORED --'Call Functions',
  # -- IGNORED -- 'Window',
])].copy().set_index('seq')

# Function for FUNCTIONS to massage the code_text in order to separate the comments and the corresponding code. It will be use to separate them into two different columns
def fn_functions_cleanse(code_text, function, comment, flag):
  result = ''
  result_com = ''
  import_fn='--dummy--'
  append_import_ln = 'N'

  function_main = function.split('.')[-1:][0].strip()

  # Special handling
  if function_main == 'ceiling':
    function_main = 'ceil'
  if function_main == 'negate':
    function_main = 'negative'

  function_main = function_main + '('

  if type(comment) == str:
    comment = 'Pyspark code which ' + '.'.join(comment.split('.')[:2])  # Keep only first two lines of feature_desc

  if flag != 'COMMENT':
      code_text = code_text.replace('<br>... ', '')
      code_text = re.sub(r"spark\.createDataFrame\(\[\(.*?\)\],\s*\[.*?\]\)", 'df', code_text)
      code_text = re.sub(r"spark\.createDataFrame\(\s*\[\(.*?\)\],\s*\[.*?\]\)", 'df', code_text)
      code_text = re.sub(r"spark\.createDataFrame\(\s*\[\[\(.*?\)\]\]\)", 'df', code_text)
      code_text = re.sub(r"spark\.range\([A-Za-z0-9 ]+\)\.", 'df.', code_text)
      code_text = re.sub(r"spark\.range\([^)]*\)\.", 'df.', code_text)
      code_text = code_text.replace('cDf', 'df')
      code_text = code_text.replace('df.show()', '')
      code_text = code_text.replace('.show()', '')
      code_text = code_text.replace('w.select', 'df.select')
      code_text = code_text.replace('w.win', 'df.win')
      code_text = code_text.replace('rodf.', 'df.')
      code_text = code_text.replace('time_df.', 'df.')
      code_text = code_text.replace('w = ', '')
      code_text = code_text.replace('prods =', '')
      code_text = code_text.replace('... #', '#')
      code_text = re.sub(r"spark\.createDataFrame\(\s*\[\[\(.*?\)\]\]\)", 'df', code_text)

  for index, line in enumerate(code_text.split('<br>')):

    if 'import ' in line:
      import_fn = line.strip().split(' ')[-1:][0].strip() + '.'
      import_ln = line.strip()

    if len(line) != 0:

      if flag == 'COMMENT' and line.startswith('#') and line.strip() != '':
        #print(f'--DEBUG--  function_main:{function_main} comment:{comment}')
        if line.startswith('#'):
          result_com = result_com + line.replace('#', 'Pyspark code which ')
          result_com = re.sub(r'Example \d+:', '', result_com)

      if flag != 'COMMENT' and not line.startswith('#')\
        and function_main in line and 'df = spark.range' not in line:

        #print(f'--DEBUG--  function_main:{function_main} import_fn:{import_fn} line:{line}')
        if import_fn in line:
          append_import_ln = 'Y'

        if function in ['pyspark.sql.functions.col', 'pyspark.sql.functions.column']:
          line = f'df.select({line})'

        result = result + line
        result = result.replace('df \ .', 'df.')
        result = result + '<br>'

  if flag == 'COMMENT':
    if result_com.strip() == '':
      result = [comment]
    else:
      result = [comment, result_com]
  else:
    #print(result)
    result = result.replace('spark.createDataFrame(    [[1], [1], [2]], ["c"])', 'df')

    if append_import_ln == 'Y':
      result = import_ln + '<br>' + result
  return result

# Drop some complicated code_snippets
fn_display_message(f' --> Display Initial count: {df_functions_1.shape[0]}')
df_functions_1 = df_functions_1[~df_functions_1['function'].isin(
    [
        'pyspark.sql.Column', 'pyspark.sql.functions.some', 'pyspark.sql.functions.every'
    ])]
fn_display_message(f' --> Display Count After dropping some complicated code_snippet: {df_functions_1.shape[0]}')

# Split code text based on comments
df_functions_1['example_text_1'] = df_functions_1['example_text'].apply(lambda x: fn_split_comments(x, 'N'))

# Normalize the code based on the elements in the array derived for example_text_1
fn_display_message(f' --> Display Count Before Explode on comments initial split on # : {df_functions_1.shape[0]}')
df_functions_1 = df_functions_1.explode('example_text_1')
df_functions_1['seq'] = range(1, len(df_functions_1) + 1)
df_functions_1 = df_functions_1.set_index('seq')
fn_display_message(f' --> Display Count After Explode on comments inital split on # : {df_functions_1.shape[0]}')

# Derive code_snippet and code_description
df_functions_1['code_description'] = df_functions_1[['example_text', 'function', 'feature_desc']].apply(lambda x: fn_functions_cleanse(x['example_text'],  x['function'], x['feature_desc'], 'COMMENT'), axis=1)
df_functions_1['code_snippet'] = df_functions_1[['example_text', 'function', 'feature_desc']].apply(lambda x: fn_functions_cleanse(x['example_text'],  x['function'], x['feature_desc'], 'CODE'), axis=1)

# Normalize the code based on the elements in the array derived for code_description
df_functions_1 = df_functions_1.explode('code_description')
df_functions_1['seq'] = range(1, len(df_functions_1) + 1)
df_functions_1 = df_functions_1.set_index('seq')
fn_display_message(f' --> Display Count After Explode on comments: {df_functions_1.shape[0]}')

# Move the import statements into another column
df_functions_1['import_line'] = df_functions_1["code_snippet"].apply(lambda x: x.split("<br>")[0] if "import" in x else "")
df_functions_1['code_snippet'] = df_functions_1["code_snippet"].apply(lambda x: '<br>'.join(x.split("<br>")[1:]) if "import" in x else x)

# Drop Duplicates before explode on Newline
df_functions_1 = df_functions_1.drop_duplicates()
fn_display_message(f' --> Display Count After dropping duplicates - 1: {df_functions_1.shape[0]}')

# Explode on Newline <br>, drop Nulls and blanks
df_functions_1["code_snippet"] = df_functions_1["code_snippet"].str.split("<br>")
df_functions_1 = df_functions_1.explode("code_snippet").dropna().query("code_snippet != ''")
df_functions_1['seq'] = range(1, len(df_functions_1) + 1)
df_functions_1 = df_functions_1.set_index('seq')
fn_display_message(f' --> Display Count After Explode on newline <br>: {df_functions_1.shape[0]}')

# Drop Duplicates before explode on Newline
df_functions_1 = df_functions_1.drop_duplicates()
fn_display_message(f' --> Display Count After dropping duplicates - 2: {df_functions_1.shape[0]}')

#df_functions_1 = df_functions_1[['code_description', 'code_snippet', 'import_line', 'example_text_1', 'function']] #, 'example_text', 'feature_desc', 'Category', 'function']]
df_functions_1.head()#.style.set_properties(**{'text-align': 'left'})

 --> Display Initial count: 429
 --> Display Count After dropping some complicated code_snippet: 398
 --> Display Count Before Explode on comments initial split on # : 398
 --> Display Count After Explode on comments inital split on # : 437
 --> Display Count After Explode on comments: 493
 --> Display Count After dropping duplicates - 1: 491
 --> Display Count After Explode on newline <br>: 756
 --> Display Count After dropping duplicates - 2: 745

,feature_desc,example_text,Category,function,example_text_1,code_description,code_snippet,import_line
seq,,,,,,,,
1,Computes the square root of the specified floa...,df = spark.range(1)<br>df.select(sqrt(lit(4)))...,Math Functions,pyspark.sql.functions.sqrt,df = spark.range(1)<br>df.select(sqrt(lit(4)))...,Pyspark code which Computes the square root of...,df.select(sqrt(lit(4))),
2,Computes the absolute value.,df = spark.range(1)<br>df.select(abs(lit(-1)))...,Math Functions,pyspark.sql.functions.abs,df = spark.range(1)<br>df.select(abs(lit(-1)))...,Pyspark code which Computes the absolute value.,df.select(abs(lit(-1))),
3,Computes inverse cosine of the input column.,"df = spark.range(1, 3)<br>df.select(acos(df.id...",Math Functions,pyspark.sql.functions.acos,"df = spark.range(1, 3)<br>df.select(acos(df.id...",Pyspark code which Computes inverse cosine of ...,df.select(acos(df.id)),
4,Computes inverse hyperbolic cosine of the inpu...,"df = spark.range(2)<br>df.select(acosh(col(""id...",Math Functions,pyspark.sql.functions.acosh,"df = spark.range(2)<br>df.select(acosh(col(""id...",Pyspark code which Computes inverse hyperbolic...,"df.select(acosh(col(""id"")))",
5,Computes inverse sine of the input column.,"df = spark.createDataFrame([(0,), (2,)])<br>df...",Math Functions,pyspark.sql.functions.asin,"df = spark.createDataFrame([(0,), (2,)])<br>df...",Pyspark code which Computes inverse sine of th...,df.select(asin(df.schema.fieldNames()[0])),

In [ ]:
# CONCATENATE RELEVANT DATAFRAMES TO FORM FINAL DATASET

final_columns = ['code_description', 'code_snippet', 'import_line', 'Category', 'function']

df_final = pd.concat([
    df_input_output[final_columns],
    df_functions_1[final_columns]
    ], ignore_index=True)


# Drop Duplicates and NULL code_snippet or code_description
fn_display_message(f' --> Display Count Before deleting records: {df_final.shape[0]}')
df_final = df_final.drop_duplicates()
fn_display_message(f' --> Display Count After dropping duplicates: {df_final.shape[0]}')

df_final = df_final.explode("code_snippet").dropna().query("code_snippet != ''")
fn_display_message(f' --> Display Count After dropping NULL code_snippet: {df_final.shape[0]}')

df_final = df_final.explode("code_description").dropna().query("code_description != ''")
fn_display_message(f' --> Display Count After dropping NULL code_description: {df_final.shape[0]}')



df_final#.style.set_properties(**{'text-align': 'left'})

 --> Display Count Before deleting records: 835
 --> Display Count After dropping duplicates: 694
 --> Display Count After dropping NULL code_snippet: 694
 --> Display Count After dropping NULL code_description: 694

,code_description,code_snippet,import_line,Category,function
0,Pyspark code to Write a DataFrame into a CSV ...,"df.write.mode(""overwrite"").format(""csv"").save(...",,Input/Output,pyspark.sql.DataFrameReader.csv
1,Pyspark code which Loads a CSV file and return...,"df.write.mode(""overwrite"").format(""csv"").save(...",,Input/Output,pyspark.sql.DataFrameReader.csv
2,Pyspark code to Read the CSV file as a DataFr...,"df = spark.read.csv(my_dir, schema=df.schema, ...",,Input/Output,pyspark.sql.DataFrameReader.csv
3,Pyspark code which Loads a CSV file and return...,"df = spark.read.csv(my_dir, schema=df.schema, ...",,Input/Output,pyspark.sql.DataFrameReader.csv
4,Pyspark code to Write a DataFrame into a JSON...,"df.write.mode(""overwrite"").format(""json"").save...",,Input/Output,pyspark.sql.DataFrameReader.format
...,...,...,...,...,...
818,"Pyspark code which Group-by name, and calcula...","df.groupBy().sum(""age"", ""height"")",,Grouping,pyspark.sql.GroupedData.sum
827,Pyspark code which Applies a function to each ...,"df1.groupby(""id"").cogroup(df2.groupby(""id"")).a...",,Grouping,pyspark.sql.PandasCogroupedOps.applyInPandas
828,Pyspark code which Applies a function to each ...,"df1.groupby(""id"").cogroup(df2.groupby(""id"")).a...",,Grouping,pyspark.sql.PandasCogroupedOps.applyInPandas
829,"Pyspark code which Alternatively, the user ca...","df1.groupby(""id"").cogroup(df2.groupby(""id"")).a...",,Grouping,pyspark.sql.PandasCogroupedOps.applyInPandas
830,"Pyspark code which Alternatively, the user ca...","df1.groupby(""id"").cogroup(df2.groupby(""id"")).a...",,Grouping,pyspark.sql.PandasCogroupedOps.applyInPandas

In [ ]:
# GET COUNT OF VARIOUS CATGEGORIES OF FUNCTIONS

df_categories = df_final.groupby("Category").size()

df_categories

Category
Aggregate Functions                    77
Bitwise Functions                       3
Collection Functions                  105
Datetime Functions                     99
Grouping                               42
Input/Output                           90
Math Functions                         78
Misc Functions                         50
Partition Transformation Functions      5
Predicate Functions                     6
Sort Functions                          8
String Functions                      108
Window Functions                       14
Xml Functions                           9
dtype: int64

In [ ]:
# WRITE FINAL DATASET TO CSV AND DOWNLOAD

DOWNLOAD_FLAG = 'Y'
if DOWNLOAD_FLAG == 'Y':
  df_final.to_csv('ETL_P2_model_input_data_v1.csv')

  from google.colab import files
  files.download('ETL_P2_model_input_data_v1.csv')